---
import "../../styles/style.css";

import Footer from "../../components/Footer.astro";
import Navbar from "../../components/layout/Navbar.astro";
import Head from "../../components/layout/Head.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <Head title={title} />
  </head>

  <body>
    <Navbar />

    <article class="pb-10 pt-20 bg-gradient-to-b from-pink-50 to-indigo-300">
      <div class="md:mx-10 lg:mx-20 bg-gray-100 rounded drop-shadow-xl">
        <div
          class="px-2 md:px-0 py-10 container mx-auto prose lg:prose-xl xl:prose-2xl prose-headings:text-indigo-600 prose-p:text-justify"
        >
          <slot />
        </div>
      </div>
    </article>

    <Footer />
  </body>
</html>
