---
const { name } = Astro.props;
---

<!-- Servirá para unificar estilos de los headers -->
<hgroup
  class="py-10 mx-12 md:mx-28 lg:mx-48 rounded shadow-xl bg-gray-100/30"
>

  <h1 class="pt-10 mb-5 text-center text-indigo-700 text-5xl">{name}</h1>
  <slot />
</hgroup>
