---
import HomeLayout from "../layouts/HomeLayout.astro";

import Hero from "../components/home/Hero.astro";
import Navbar from "../components/layout/Navbar.astro";
import Welcome from "../components/home/Welcome.astro";
import IntroBlog from "../components/home/IntroBlog.astro";
---

<HomeLayout title="Home">
  <header>
    <Hero />
  </header>

  <Navbar />

  <main class="container mx-auto">
    <Welcome />
    <IntroBlog />
  </main>
</HomeLayout>
