---
import Layout from "../layouts/HomeLayout.astro";

import Hero from "../components/home/Hero.astro";
import Navbar from "../components/layout/Navbar.astro";
import Welcome from "../components/home/Welcome.astro";
import IntroBlog from "../components/home/IntroBlog.astro";
---

<Layout title="Home">
  <header>
    <Hero />
  </header>

  <Navbar />

  <main
    class="py-10 bg-gradient-to-b from-pink-100 via-indigo-200 to-indigo-400"
  >
    <div class="shadow-lg container mx-auto">
      <Welcome />
      <IntroBlog />
    </div>
  </main>
</Layout>
