<section class="bg-gray-800 text-center text-indigo-50 lg:text-left">
  <div
    class="flex flex-col-reverse lg:flex-row lg:items-center pt-10 pb-20 px-4 lg:pt-20"
  >
    <div class="lg:w-7/12 lg:order-2">
      <img
        class="h-auto mx-auto p-2 w-8/12 bg-gray-400/25 rounded"
        src="/notes.svg"
        alt="Booking porject image"
      />
    </div>
    <div class="lg:w-5/12 lg:order-1">
      <div class="py-4 text-justify">
        <h3 class="mb-3 mr-3 font-bold text-right text-4xl text-indigo-400">
          Blog personal
        </h3>
        <p class="mb-2">
          Aún en fase de análisis y diseño me gustaría crear un blog con publicaciones tecnológicas. Un espacio donde probar nuevas tecnologías, alojar pequeños tutoriales, expresar opiniones y mucho más. 
        </p>
        <p class="mb-2">
          Tener un blog es una idea muy atractiva para muchos desarrolladores, pero siento que como a mí a muchos nos resulta difícil sentaros delante de editor y no programar. Siempre hay algo nuevo que probar, algo nuevo que aprender y sobre todo mucho que trastear.
        </p>
        <p class="mb-2">
          Espero conseguirlo y pronto traer nuevas noticias!!
        </p>
      </div>
    </div>
  </div>
</section>
