<section class="bg-gray-800 text-center text-indigo-50 lg:text-left">
  <div
    class="flex flex-col-reverse lg:flex-row lg:items-center pt-10 pb-20 px-4 lg:pt-20"
  >
    <div class="lg:w-7/12 lg:order-2">
      <img
        class="h-auto mx-auto p-2 w-8/12 bg-gray-400/25 rounded"
        src="/notes.svg"
        alt="Booking porject image"
      />
    </div>
    <div class="lg:w-5/12 lg:order-1">
      <div class="py-4 text-justify">
        <h3 class="mb-3 mr-3 font-bold text-right text-4xl text-indigo-400">
          Blog personal
        </h3>
        <p class="mb-2">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
          architecto, unde provident distinctio corporis quam repellendus iure.
          Quasi quidem, laborum non repellendus ipsum adipisci vel saepe, magni
          sint deleniti corporis?
        </p>
        <p class="mb-2">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore
          tempora, quasi provident modi, laborum ex aspernatur laudantium,
          minima omnis culpa maxime delectus aperiam commodi sapiente ducimus
          cupiditate mollitia ipsa ipsam.
        </p>
      </div>
    </div>
  </div>
</section>
