<section class="text-center lg:text-left bg-gray-600">
  <div
    class="flex flex-col lg:flex-row lg:items-center pt-10 pb-20 px-4 lg:pt-20"
  >
    <div class="lg:w-7/12 lg:order-2">
      <img
        class="h-auto mx-auto p-2 w-8/12 bg-gray-400/25 rounded"
        src="/notes.svg"
        alt="Booking porject image"
      />
    </div>

    <div class="lg:w-5/12 mt-20 md:mt-10 lg:mt-0">
      <div
        class="mx-auto pl-2 lg:order-1 prose prose-p:text-justify xl:prose-lg prose-p:text-gray-100 prose-h3:text-3xl xl:prose-h3:text-4xl"
      >
        <h3 class="mb-3 text-right text-indigo-300">
          Blog personal
        </h3>
        <p>
          Aún en fase de análisis y diseño me gustaría crear un blog con
          publicaciones tecnológicas. Un espacio donde probar nuevas
          tecnologías, alojar pequeños tutoriales, expresar opiniones y mucho
          más.
        </p>
        <p>
          Tener un blog es una idea muy atractiva para muchos desarrolladores,
          pero siento que como a mí, a muchos nos resulta difícil sentaros
          delante de editor y no programar. Siempre hay algo nuevo que probar,
          algo nuevo que aprender y sobre todo mucho que trastear.
        </p>
        <p>
          Espero traer pronto nuevo contenido!!
        </p>
      </div>
    </div>
  </div>
</section>
