<article class="bg-gray-50 text-center text-gray-500 lg:text-left">
  <div
    class="container flex flex-col-reverse lg:flex-row lg:items-center pt-10 pb-20 px-4 lg:pt-20"
  >
    <div class="lg:w-7/12">
      <img
        class="h-auto mx-auto p-2 w-8/12 bg-gray-800/25 rounded"
        src="/picker.svg"
        alt="Booking porject image"
      />
    </div>
    <div class="lg:w-5/12 prose">
      <div class="text-justify">
        <h3 class="mb-3 ml-3 font-bold text-4xl text-indigo-600">
          Bienvenido!
        </h3>
        <p class="">
          Me gusta mucho experimentar con nuevas tecnologías relacionadas con el
          desarrollo de aplicaciones web, diferentes lenguajes, frameworks,
          bases de datos, front-end, back-end, contenedores y otras muchas
          tecnologías con las que trastéo cada día.
        </p>
        <p class="">
          Esta bocación por la informática me viene desde muy joven cuando
          intenté por primera vez instalar linux en mi ordenador personal. Desde
          ese momento la motivación por aprender y estudiar sistemas y
          programación no ha dejado de crecer.
        </p>
        <p class="">
          Uno de mis trabajos más recientes ha sido el proyecto fin de ciclo. He
          usado diferentes lenguajes de programación, frameworks,
          microservicios, kubernetes y mucho más, no dudes en echarle un ojo!
          <a
            class="font-bold text-indigo-500 hover:text-pink-500 underline"
            href="/projects/"
            >Proyectos
          </a>
        </p>
      </div>
    </div>
  </div>
  <svg
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
    fill="currentColor"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    width="100%"
    height="160"
    class="text-gray-600"
  >
    <path d="M 0 100 V 40 L 100 100"></path>
    <path d="M 100 100 V 0 L 0 100" opacity="0.3"></path>
  </svg>
</article>
