---
import { Icon } from "astro-icon";

import Layout from "../../layouts/projects/Index.astro";
import Header from "../../components/layout/Header.astro";

interface project {
  title: string;
  url: string;
  description: string;
  icon: string;
}

const lista: project[] = (await Astro.glob("../projects/*.md")).map(
  (project) => {
    return {
      title: project.frontmatter.title,
      url: project.url,
      description: project.frontmatter.description,
      icon: project.frontmatter.icon,
    };
  }
);
---

<Layout title="Projects">
  <div
    class="pb-10 bg-gradient-to-b from-pink-100 via-indigo-200 to-indigo-400"
  >
    <Header name="Proyectos">
      <h2 class="text-center text-gray-500 text-xl">
        Descubre en qué ando metido! 🤓
      </h2>
    </Header>

    <div class="mt-10 md:mx-10 lg:mx-20 bg-gray-100 rounded shadow-xl">
      <main
        class="px-2 md:px-0 py-10 container mx-auto prose lg:prose-xl prose-headings:text-indigo-600 prose-p:text-justify prose-a:text-indigo-500 prose-a:font-bold hover:prose-a:text-pink-500"
      >
        <p>
          ¿Cuantos proyectos pondré? Creo que tres para empzar y luego quizá
          más. De todas formas hago un grid y tarjetas dinámicas a partir de los
          ficheros.
        </p>

        <article class="grid grid-cols-2 gap-4 justify-center">
          {
            lista.map((project) => (
              <div class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <Icon
                  class="mb-2 w-10 h-10 text-gray-500 dark:text-gray-400"
                  name={project.icon}
                />

                <h5 class="mb-2 text-2xl font-semibold text-center tracking-tight text-gray-900 dark:text-white">
                  {project.title}
                </h5>

                <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
                  {project.description}
                </p>
                <hr class="m-1 border-gray-500 dark:border-gray-400" />
                <a
                  href={project.url}
                  class="inline-flex items-center text-blue-600 hover:underline"
                >
                  Saber más
                  <svg
                    class="ml-2 w-5 h-5"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                    <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
                  </svg>
                </a>
              </div>
            ))
          }
        </article>
      </main>
    </div>
  </div>
</Layout>
