---
import "../styles/style.css";

import Footer from "../components/Footer.astro";
import Head from "../components/layout/Head.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <Head title={title} />
  </head>

  <body>
    <slot />

    <Footer />
  </body>
</html>
