---
import "../styles/style.css";

import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>{title} - kennycallado</title>

    <meta charset="utf-8" />
    <meta name="author" content="kennycallado" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Neonderthaw&display=swap"
    />
  </head>

  <body>
    <slot />

    <Footer />
  </body>
</html>
